@page "/impostergame"
<PageTitle>Imposter</PageTitle>
@using ImposterGame.Models
@using ImposterGame.Services
@inject NavigationManager NavigationManager

<RadzenText TextStyle="TextStyle.DisplayH3"
            Style="font-family: 'Far_Morvarid';
            font-size: 1.8rem;
            font-weight: 600;
            color: #222;
            text-align: center;">
    بازی شیاد  <RadzenImage Path="\Icons\Imposter1.png" Style="width: 4rem;" />
</RadzenText>
@if (!gameStarted)
{
    <RadzenText TextStyle="TextStyle.DisplayH4"
                Style="font-family: 'Far_Morvarid';
                                font-size: 2rem;
                                font-weight: 600;
                                color: #123;
                                text-align: center;">نام بازی کن ها را وارد کنید</RadzenText>

    <RadzenCard Style="width:90%; max-width:400px; margin:auto; text-align:center;">
        @foreach (var item in Players)
        {
            @if (!string.IsNullOrEmpty(item.Name))
            {
                <RadzenRow JustifyContent="JustifyContent.Right" AlignItems="@AlignItems.Center" Gap="3">
                    <RadzenButton Click="() => RemovePlayer(item)"
                                  Variant="Variant.Text"
                                  Icon="close"
                                  Size="ButtonSize.ExtraSmall"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Style="" />
                    <div class="rz-p-3">
                        <RadzenText TextStyle="TextStyle.DisplayH5"
                                    Style="font-family: 'Far_Morvarid';
                                                                                    font-size: 1.8rem;
                                                                                    font-weight: 300;
                                                                                    color: #222;
                                                                                    text-align: center;">@item.Name</RadzenText>

                    </div>
                    <RadzenImage Path="@item.Uri" Style="width: 2rem;"></RadzenImage>
                </RadzenRow>
            }
            else
            {
            }
        }

    @*add name and select avatar *@
        <RadzenTextBox Style="width:100%; margin-bottom:10px;" @bind-Value="newPlayer.Name" Placeholder="نام" />
        <SelectAvatar OnAvatarSelected="@HandleAvatarSelected"></SelectAvatar>

    </RadzenCard>


    <RadzenButton Text="اضافه کردن بازی کن" Click="@AddPlayer" Style="width:100%; margin-top:10px;" />

    @if (Players.Count >= 3)
    {

        <RadzenButton Text="شروع بازی" click="@AssignRoles" Style="width:100%; margin-top:10px;" />
    }
}
else
{
    <RadzenCard Style="width:90%; max-width:400px; margin:auto; text-align:center;">
        <h2>@currentPlayer.Name</h2>
        <h2>@currentPlayer.Uri</h2>
        <RadzenImage Path="@currentPlayer.Uri" Style="width: 2rem;"></RadzenImage>
        @if (!currentPlayer.HasViewedCard)
        {
            <RadzenButton Size="ButtonSize.Large" Text="دیدن کارت" Click="@ShowCard" Style="margin-top:15px;" />
        }
        else
        {
            <RadzenPanel Style="margin-top:10px; padding:10px; background:#ffdd59; color:#000;">
                <RadzenText TextStyle="TextStyle.DisplayH4"
                            Style="font-family: 'Far_Morvarid';
                                                                font-size: 1.8rem;
                                                                font-weight: 600;
                                                                color: #222;
                                                                 text-align: center;">@CardText</RadzenText>
            </RadzenPanel>

            @if (currentIndex >= gameService.Players.Count - 1)
            {
                <RadzenButton Size="ButtonSize.Large" Text="شروع بازی" Click="@StartGame" Style="margin-top:10px;" />

            }
            else
            {
                <RadzenButton Size="ButtonSize.Large" Text="نفر بعدی" Click="@NextPlayer" Style="margin-top:10px;" />
            }
        }
    </RadzenCard>
}

